
<div class="center jumbotron">
	<div class="container">
		<div class="row">
			<div class = "col-md-4"><%= image_tag 'child-weight.jpg' %></div>
				<div class = "col-md-8">
        			<h1>Welcome to <br>
        				Paediatric Bariatric<br>
        			<small>A national resource for Paediatric Bariatric Teams</small></h1>
        			<%= link_to 'Enter Patient Database', patients_path, class: "btn btn-lg btn-primary" %>
        		</div>
        </div>
		
	</div>
</div>